body {
  background-color: black !important;
}

.hero {
  position: relative;
  height: 300px;
  background-image: url("../img/Stage-curtain-background-2000x1245.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 40px;
}

.hero-content {
  text-align: center;
  max-width: 600px;
  padding: 20px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.now {
  display: inline-block;
  background-color: #61171e;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.2s ease;
  border: 1px solid #61171e;
  padding: 20px;
}

.now:hover {
  background-color: #8d343d;
  color: #fff;
}
