body {
  background-color: black !important;
}

.hero {
  position: relative;
  height: 300px;
  background-image: url("../img/Stage-curtain-background-2000x1245.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 40px;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent);
  box-shadow: inset 0px 100px 250px #000000;
}
.slide-up {
  position: relative;
  z-index: 5;
}

.hero-content {
  position: relative;
  text-align: center;
}

.hero-content {
  text-align: center;
  max-width: 600px;
  padding: 20px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.now {
  display: inline-block;
  background-color: #61171e;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.2s ease;
  border: 1px solid #61171e;
  padding: 20px;
}

.now:hover {
  background-color: #8d343d;
  color: #fff;
}

.contact {
  border: 3px solid rgba(255, 255, 255, 0.125);
  background-color: #61171e;
  border-radius: 10px;
  color: #fff;
  padding: 40px;
  width: 70%;
  margin: auto;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.btn {
  background-color: #ffcccb;
  color: #61171e;
  padding: 30px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  background-color: white !important;
  transition: background-color 0.2s ease;
}

.btn:hover {
  color: #8d343d !important;
}

@media (max-width: 589px) {
  .contact {
    width: 100%;
  }
}
