body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222;
}
nav {
  height: 80px;
}
h1,
h2 {
  text-align: center;
  color: #333;
}

#genre-list {
  text-align: center;
  margin: 20px 0;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #111213;
}

#movie-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(350px, 1fr)
  ); /* Responsive grid with minimum item width of 200px */
  gap: 20px;
  flex-direction: column;
  justify-self: center;
  align-items: flex-start;
  margin: 20px 0;
}

#movie-list div {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 200px;
}

@media (max-width: 768px) {
  #movie-list div {
    width: 100%;
  }
}
