body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222;
}
nav {
  height: 80px;
}
h1,
h2 {
  text-align: center;
}

#genre-list {
  text-align: center;
  margin: 20px 0;
}

button {
  background-color: #111213;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1c1d1e;
}

#movie-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(240px, 1fr)
  ); /* Responsive grid with minimum item width of 200px */
  /* gap: 5px; */
  flex-direction: column;
  justify-self: center;
  align-items: flex-start;
  /* margin: 20px 0; */
}

#movie-list div {
  background-color: #fff;
  border: 3px solid #111;
  /* padding: 10px; */
  height: 350px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 250px;
  justify-self: center;
  position: relative;
}


#movie-list div article {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 1);
}


#movieList div article:hover {
  transform: scale(1.05);
  background-color: red;
}

#movie-list div mov-title {
  position: absolute;
  bottom: 10px;
  left: 0;
}

@media (max-width: 768px) {
  #movie-list div {
    width: 100%;
  }
}
