/* Selected Movie Detail */

.movContainer {
  transform: scale(0);
  transition: all 0.3s ease;
}

.movContainer .fas.fa-times {
  right: -13px;
  top: -15px;
  background-color: #333;
  padding: 7px 10px;
  border-radius: 50%;
  border: 3px solid #000;
  cursor: pointer;
}

.selected-mov-detail {
  height: 80vh;
  width: 85vw;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.genre-item {
  color: white !important;
  text-decoration: none;
  font-weight: 500;
}

/* Video container */
.video-container {
  /* height: 80vh;
  background-color: #333; */
  width: 100%;
  overflow: hidden;
  position: relative;
  /* padding-top: 59.25%; */
}
.responsive-iframe {
  position: fixed;
  top: 0;
  /* right: 0;
  bottom: 0;   */
  left: 0;
  width: 50%;
  height: 50%;
  transform: translate(50%, 50%)
}

/* Search */
section.search {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(../1234.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px !important;
}
section.search input {
  width: 60vw;

  /* min-width: 750px; */
}
 .section-mov-card{
  max-width: 900px;
  display: grid ;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  /* grid-gap: 30px; */
}
@media screen and (max-width: 960px) {
  .section-mov-card {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 645px) {
  .section-mov-card {
    grid-template-columns: repeat(2, 1fr);
  }
}