/* Selected Movie Detail */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&family=Space+Mono:wght@400;700&display=swap");
*::-webkit-scrollbar {
  background-color: transparent;
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 100px;
  width: 4px;
}
.movContainer {
  transform: scale(0);
  transition: all 0.3s ease;
}

.movContainer .fas.fa-times {
  right: -13px;
  top: -15px;
  background-color: #333;
  padding: 7px 10px;
  border-radius: 50%;
  border: 3px solid #000;
  cursor: pointer;
}

.selected-mov-detail {
  height: 80vh;
  width: 85vw;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.genre-item {
  color: white !important;
  text-decoration: none;
  font-weight: 500;
}

/* Video container */
.video-container {
  /* height: 80vh;
   
  width: 100%;
  overflow: hidden;
  position: relative;
  /* padding-top: 59.25%; */
}

.responsive-iframe {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
}

/* Search */
section.search {
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px !important;
}

section.search input {
  width: 60vw;
}

.section-mov-card {
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}

.section-mov-card img {
  width: 200px !important;
}

/* Filter options */

.filter-container {
  background-color: #000;
  padding: 20px;
  border: 2px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  width: 300px !important;
  color: white !important;
  border-radius: 10px;
  /* justify-content: space-between; */
  /* width: 80%; */
  margin: 50px auto 0;
  box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0.8);
}

.filter-container label,
.filter-container select,
.filter-container input,
.filter-container button {
  margin-bottom: 10px;
}

.filter-container select,
.filter-container input[type="number"] {
  width: 250px !important;
}

.filter-container button {
  /* background-color: #007bff; */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.filter-container button:hover {
  background-color: #0056b3;
}
label,
select,
.filter-container button,
input[type="number"] {
  width: 100% !important;
  font-size: 12px !important;
}

@media screen and (max-width: 960px) {
  .section-mov-card {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 755px) {
  .section-mov-card {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-mov-card .movie-card {
    width: 240px !important;
    margin: auto;
    flex-direction: column !important;
  }

  .section-mov-card img {
    width: 150px !important;
  }

  .navbar-brand {
    width: 120px;
  }

  .filter-container {
    width: 95%;
    padding: 30px !important;
    border-radius: 5px;
  }

  .filter-container label,
  .filter-container select,
  .filter-container input,
  .filter-container button {
    margin-bottom: 5px;
  }
  .responsive-iframe {
    height: 40%;
    width: 90% !important;
  }
}

@media screen and (max-width: 400px) {
  .movie-card {
    width: 120px !important;
  }
  .section-mov-card {
    justify-content: center;
    width: 120px !important;
  }

  .section-mov-card img {
    width: 120px !important;
  }

  .movie-details h5 {
    font-size: 13px !important;
  }

  .movie-details p {
    font-size: 9px !important;
    text-align: center;
  }
}

/* Footer Styles */
.footer {
  background-color: #4b0a0a;
  color: #fff;
  padding: 30px 0;
  font-family: "Roboto Condensed" !important;
}

.footer h4 {
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer p {
  color: #ccc;
  line-height: 1.6;
}

.footer a {
  color: #ccc;
  text-decoration: none;
}

.footer a:hover {
  color: #fff;
}

.footer ul.list-unstyled {
  padding-left: 0;
}

.footer li {
  margin-bottom: 10px;
}

.footer hr {
  border-color: #666;
}

/* Social Icons */
.social-icons {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  color: #ccc;
  font-size: 18px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer .row {
    text-align: center;
  }
}

/* Section main */
.section-main {
  width: 200%;
  box-sizing: border-box;
}

.section-main .one,
.section-main .two {
  width: 100%;
  transition: all 1s ease;
}

.search-mov {
  height: 100vh;
  margin: 90px 0;
}

.search-mov .search-cards {
  height: 90vh;
  overflow: scroll;
}

.search-card-desc .top {
  height: 280px;
  padding: 10px;
  box-shadow: inset 0px 0px 8px 3px rgb(0, 0, 0, 0.45);
}

.card {
  background-image: url(../loader.gif);
  background-position: center;
  background-size: cover;
}