/* Selected Movie Detail */

.movContainer {
  transform: scale(0);
  transition: all 0.3s ease;
}

.movContainer .fas.fa-times {
  right: -13px;
  top: -15px;
  background-color: #333;
  padding: 7px 10px;
  border-radius: 50%;
  border: 3px solid #000;
  cursor: pointer;
}

.selected-mov-detail {
  height: 80vh;
  width: 85vw;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.genre-item {
  color: white !important;
  text-decoration: none;
  font-weight: 500;
}

/* Video container */
.video-container {
  /* height: 80vh;
  
  width: 100%;
  overflow: hidden;
  position: relative;
  /* padding-top: 59.25%; */
}

.responsive-iframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  transform: translate(50%, 50%)
}

/* Search */
section.search {
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px !important;
}

section.search input {
  width: 60vw;
}

.section-mov-card {
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}

.section-mov-card img {
  width: 200px !important;
}

/* Filter options */

.filter-container {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 50px auto 0;
  box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0.8);
}

.filter-container label,
.filter-container select,
.filter-container input,
.filter-container button {
  margin-bottom: 10px;
}

.filter-container select,
.filter-container input[type="number"] {
  width: 150px;
}

.filter-container button {
  /* background-color: #007bff; */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.filter-container button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 960px) {
  .section-mov-card {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 645px) {
  .section-mov-card {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-mov-card img {
    width: 150px !important;
  }

  .navbar-brand {
    width: 120px;
  }

  label,
  select,
  .filter-container button,
  input[type="number"] {
    width: 100% !important;
    font-size: 12px !important;
  }
  .filter-container {
    width: 95%;
    padding: 30px !important;
    border-radius: 5px;
  }

  .filter-container label,
  .filter-container select,
  .filter-container input,
  .filter-container button {
    margin-bottom: 5px;
  }
  .responsive-iframe {
    width: 90% !important;
  }
}

@media screen and (max-width: 400px) {
  .section-mov-card {
    justify-content: center;
  }

  .section-mov-card img {
    width: 120px !important;
  }

  .movie-details h5 {
    font-size: 13px !important;
  }

  .movie-details p {
    font-size: 9px !important;
    text-align: center;
  }


  .filter-container {
    width: 100%;
  }
  label,
  select,
  .filter-container button,
  input[type="number"] {
    width: 50% !important;
  }
}