@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap");

* {
  scroll-behavior: smooth !important;
}

:root {
  --transition-03s: 0.3s;
}
i {
  cursor: pointer;
}
/* .show {
  transform: scale(0);
} */
body {
  font-family: "Lexend", sans-serif !important;
  /* overflow-x: hidden; */
}

a {
  cursor: pointer !important;
  transition: all 0.3s ease-in;
}

nav a:hover {
  opacity: 0.8;
  scale: 1.05;
}

.nav-container {
  height: 90px;
  padding: 0 90px;
  justify-content: space-between !important;
}

.hidden {
  display: none !important;
}

.ms-9 {
  margin-left: 90px;
}

.mt-10 {
  margin-top: 170px;
}

.fw-200 {
  font-weight: 200;
}

.br-30 {
  border-radius: 30px;
}

.shd {
  box-shadow: 3px 3px 3px 0px #000;
}

.border {
  border: 2px solid white;
}

.vh-100 {
  height: 900px !important;
}

.bg-000 {
  background-color: #000;
}

.bg-red {
  background-color: rgba(255, 0, 0, 0.3);
  border: 3px solid rgb(247, 39, 39) !important;
}

.fs-90 {
  font-size: 5rem;
}

.active {
  color: red;
  cursor: not-allowed !important;
}

.logo-header {
  width: 200px;
}

header {
  height: 100vh;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

header nav li a {
  font-size: 12px !important;
}

.content-container .content {
  width: 53%;
  justify-content: center;
}

.content-container .content .logo-header {
  border-left: 6px solid red;
  border-right: 6px solid red;
  cursor: pointer;
  background-color: rgba(230, 24, 24, 0.3);
}

#moviesHeader {
  margin-left: 90px;
}

.container-mov .content .mov-info h1 {
  -webkit-background-clip: text;
  color: white;
  font-size: 64px;
  cursor: pointer !important;
}

.nav-icons .search-bar {
  width: 400px;
  height: 80vh;
  right: -100px;
}

.main-body {
  background-color: #000;
}

/* Top Rated */
.top_rated_mov .top-rated .mov-list {
  gap: 10px;
  display: grid;
  grid-gap: 30px !important;
  height: 60vh;
  overflow: auto !important;
}

.top_rated_mov .top-rated .mov-list::-webkit-scrollbar {
  display: none !important;
}

.top_rated_mov .top-rated .mov-list .list {
  width: 220px;
  height: 300px;
  position: relative;
  transition: all 0.3s ease;
  /* cursor: pointer; */
}

.top_rated_mov .top-rated .mov-list .list .item {
  width: 220px;
  height: 300px;
}

.top_rated_mov .top-rated .mov-list .list .item svg {
  bottom: -50px;
  right: 20px;
}

.top_rated_mov .top-rated .mov-list .list .item .vote {
  background: #000;
  position: absolute;
  border: 3px solid gray;
  bottom: -25px !important;
  right: -10px !important;
  font-size: 14px !important;
  outline: 4px solid #000;
  width: 40px;
  height: 40px;
}

.top_rated_mov .top-rated .mov-list .list img {
  /* width: 190px; */
  width: 220px;
  /* margin: 10px 15px; */
  border-radius: 10px;
}

.top_rated_mov .top-rated .mov-list .list .img-details {
  background: linear-gradient(transparent, 40%, rgba(0, 0, 0, 0.9));
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.top_rated_mov .top-rated .mov-list .list .img-details p {
  position: relative;
  top: 300px;
  left: 15%;
  transition: all var(--transition-03s) ease-in;
  opacity: 0;
  transform: translateY(30px);
}

.top_rated_mov .top-rated .mov-list .list:hover .img-details p {
  /* scale: 1.01; */
  opacity: 1;
  transform: translateY(0);
}

.top_rated_mov .top-rated .mov-list .list:hover .img-details {
  background: linear-gradient(transparent, 40%, rgba(0, 0, 0, 0.9));
  opacity: 1;
  display: block;
}

/* Media Queries */
@media screen and (max-width: 1140px) {
  #moviesHeader {
    margin-left: 80px;
  }

  #moviesHeader .mov-img {
    display: none;
  }

  .content-container .content {
    width: 65%;
  }
}

@media screen and (max-width: 1000px) {
  .content-container .content {
    width: 80%;
  }

  .container-mov .content .mov-info h1 {
    font-size: 65px;
  }
}

@media screen and (max-width: 992px) {
  nav ul:first-of-type {
    /* display: none !important; */
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 3000;
    background-color: #eee;
    left: -100%;
    transition: all ease-in 0.5s;
  }

  nav ul:first-of-type li {
    width: 100%;
  }

  nav ul:first-of-type a {
    background-color: #eee;
    width: 100% !important;
    display: block;
    padding: 10px 40px;
    color: #000 !important;
    /* border: 0.5px solid #000 */
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav ul:first-of-type a.active {
    color: red !important;
  }
}

@media screen and (max-width: 750px) {
  #moviesHeader {
    margin-left: 30px;
  }

  .content-container .content {
    width: 90%;
  }

  .container-mov .content .mov-info h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 750px) {
  #moviesHeader {
    margin-left: 30px;
  }

  .content-container .content {
    width: 90%;
    align-items: center;
    text-align: center;
  }

  .container-mov .content .mov-info h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 600px) {
  #moviesHeader {
    margin-left: 20px;
  }

  .content-container .content {
    width: 93%;
  }

  .container-mov .content .mov-info h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 400px) {
  .nav-icons {
    /* display: none !important; */
    transform: translateX(25px);
  }

  .container-mov .content .mov-info h1 {
    font-size: 35px;
    width: 100% !important;
  }

  .container-mov .content .mov-info .info p,
  .top_rated_mov .top-rated .mov-list .list .date,
  kk .top-rated p {
    font-size: 14px !important;
  }

  .header-logo {
    display: none !important;
  }

  .logo-header {
    width: 150px;
    margin-bottom: 10px;
  }

  .top_rated_mov .top-rated .mov-list {
    grid-gap: 10px !important;
  }

  .top_rated_mov .top-rated .mov-list .list {
    height: 120px !important;
    width: 170px !important;
  }

  .top_rated_mov .top-rated .mov-list .list .item {
    height: 210px !important;
    width: 190px;
  }

  .top_rated_mov .top-rated .mov-list .list img {
    width: 170px !important;
  }
}

.show {
  left: 0 !important;
}
