  @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

  * {
    scroll-behavior: smooth !important;
  }

  :root {}

  body {
    font-family: "Lexend", sans-serif !important;
  }

  a {
    cursor: pointer !important;
    transition: all 0.3s ease-in;
  }

  nav a:hover {
    opacity: 0.8;
    scale: 1.05;
  }

  .nav-container {
    height: 90px;
    padding: 0 90px;
    justify-content: space-between !important;
  }

  .ms-9 {
    margin-left: 90px;
  }

  .mt-10 {
    margin-top: 170px;
  }

  .fw-200 {
    font-weight: 200;
  }

  .br-30 {
    border-radius: 30px;
  }

  .shd {
    box-shadow: 3px 3px 3px 0px #000;
  }

  .border {
    border: 2px solid white;
  }

  .vh-100 {
    height: 800px !important;
  }

  .bg-000 {
    background-color: #000;
  }

  .bg-red {
    background-color: rgba(255, 0, 0, 0.3);
    border: 3px solid rgb(247, 39, 39) !important;
  }

  .fs-90 {
    font-size: 5rem;
  }

  header {
    height: 100vh;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }

  .content-container .content {
    width: 53%;
    justify-content: center;
  }

  .content-container .content .logo-header {
    border-left: 6px solid red;
    border-right: 6px solid red;
    cursor: pointer;
    background-color: rgba(230, 24, 24, 0.3);
  }

  #moviesHeader {
    margin-left: 90px;
  }

  .container-mov .content .mov-info h1 {
    -webkit-background-clip: text;
    color: white;
    font-size: 64px;
  }

  .nav-icons .search-bar {
    width: 400px;
    height: 80vh;
    right: -100px;
  }

  .main-body {
    background-color: #000;
  }

  /* Top Rated */
  .top_rated_mov .top-rated .mov-list {
    gap: 10px;
    display: grid;
    height: 60vh;
    overflow: auto !important;
  }

  .top_rated_mov .top-rated .mov-list::-webkit-scrollbar {
    display: none !important;
  }


  .top_rated_mov .top-rated .mov-list .list {
    width: 220px;
    border: 1px solid #333;
    height: 300px;
    background: #333;
  }

  .top_rated_mov .top-rated .mov-list .list img {
    width: 240px;
    transition: all 0.3s ease;
  }

  .top_rated_mov .top-rated .mov-list .list img:hover {
    scale: 1.03;
  }


  /* Media Queries */
  @media screen and (max-width: 1140px) {
    #moviesHeader {
      margin-left: 80px;
    }

    #moviesHeader .mov-img {
      display: none;
    }

    .content-container .content {
      width: 65%;
    }
  }

  @media screen and (max-width: 1000px) {
    .content-container .content {
      width: 80%;
    }

    .container-mov .content .mov-info h1 {
      font-size: 65px;
    }
  }

  @media screen and (max-width: 750px) {
    #moviesHeader {
      margin-left: 30px;
    }

    .content-container .content {
      width: 90%;
    }

    .container-mov .content .mov-info h1 {
      font-size: 60px;
    }
  }

  @media screen and (max-width: 750px) {
    #moviesHeader {
      margin-left: 30px;
    }

    .content-container .content {
      width: 90%;
      align-items: center;
      text-align: center;
    }

    .container-mov .content .mov-info h1 {
      font-size: 60px;
    }
  }

  @media screen and (max-width: 600px) {
    #moviesHeader {
      margin-left: 20px;
    }

    .content-container .content {
      width: 93%;
    }

    .container-mov .content .mov-info h1 {
      font-size: 50px;
    }
  }