body {
  background-color: black !important;
}

.movie-container {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  height: 80vh;
}

.movie-poster {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.movie-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.movie-info {
  color: #777;
  margin-bottom: 10px;
}

.movie-synopsis {
  color: #444;
  margin-bottom: 20px;
}

.watch-now-button {
  background-color: #f1356d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.watch-now-button:hover {
  background-color: #ff77a9;
}
