@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&family=Space+Mono:wght@400;700&display=swap');

body {
  background-color: black !important;
}

a {
  text-decoration: none !important;
  font-family: 'Roboto Condensed';
  color: white;
}

.filterNull {
  padding: 10px;
  border: 3px solid darkgray;
  background-color: darkslateblue;
  box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
}

ul li {
  list-style-type: none;
  align-items: center;
  font-size: 11px !important;
}

.mov-items ul li a.dir, #compName {
  padding: 2px 4px;
  background: #333;
  border-radius: 4px;
  color: white;
  box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.75)
}

/* Classes */
.genreBtn {
  font-size: 12px;
  box-shadow: 0px 0px 2px 0px #cfbe07;
  margin: 0 3px;
  font-family: 'Roboto Condensed';
}

section.casts::-webkit-scrollbar {
  display: none !important;
}

.cast-img {
  background-color: #fff;
  width: 180px;
  height: 265px;
  background-image: url(../loader.gif);
  background-repeat: no-repeat;
  background-position: center;
}

.cast-img img {
  transition: opacity 0.5s ease;
}

.movie-container {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  height: 80vh;
}

.movie-poster {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.movie-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.movie-info {
  color: #777;
  margin-bottom: 10px;
}

.movie-synopsis {
  color: #444;
  margin-bottom: 20px;
}

.watch-now-button {
  background-color: #f1356d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.watch-now-button:hover {
  background-color: #ff77a9;
}

/* Movie main section */

.main-section {
  height: 60vh;
  display: flex;
  align-items: center;
  background-size: contain !important;
  background-position: right !important;
  background-repeat: no-repeat !important;
  background-blend-mode: darken;
  margin-top: 30px;
}
@media (max-width: 880px) {
  .main-section {
    background-size: cover !important;
    text-align: center;
  }
}

.main-section .container-section {
  max-width: 900px;
  margin-left: 100px;
}

.main-section button {
  border: 0;
  padding: 5px 10px;
  margin-top: 20px;
  border-radius: 5px;
}

.main-section .ratings .rate-count {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  width: 53%;
}

.main-about {
  height: calc(100vh + 700px);
  position: relative;
  overflow: hidden;
  background: linear-gradient (rgb(31, 0, 42), rgb(0, 0, 0));
}

.main-about::before {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  bottom: -100px;
  left: -100px;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 0;
}

.main-about::after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: -100px;
  right: -100px;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 0;
}

.main-about .mov-poster {
  height: 75vh;
  width: 300px;
  border-radius: 5px;
  background-color: #333;
  background-size: cover;
  background-position: center;
  box-shadow: 1px 0px 3px 2px rgb(0 0 0);

}

.main-about .about-container-section {
  width: 75vw;
}

.movie-similar #similar-mov {
  grid-template-columns: repeat(2, 1fr);
}
 
article.item-mov-card {
  height: 250px;
}

article #article-img {
  /* width: 120px; */
}

@media (max-width: 1250px) {
  .main-about .about-container-section {
    width: 85vw;
  }
  article.item-mov-card {
    height: 210px;
  }
  article #article-img {
    /* width: 100px; */
  } 

}
@media (max-width: 1080px) {
  .main-about .about-container-section {
    width: 90vw;
  }
  .main-about .mov-items {
    /* gap: 0 !important; */
    /* flex-direction: column !important; */
  } 
  .main-about .mov-items #compName {
    width: 90px !important;
  }
  .main-about .mov-poster {
    width: 250px;
    height: 55vh;
  }
}
 
@media (max-width: 995px) {
  .movie-similar #similar-mov {
    grid-template-columns: 1fr;
  }
}


/* Tabs */
.tabs {
  transform: translateX(50%);
}

.tabs button {
  border: 0;
}

.tabs button.tab-active {
  border-bottom: 2px solid white;
}


