@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap');
body {
  background-color: black !important;
}
a {
  border: 0 !important;
}
ul li {
  list-style-type: none;
  align-items: center;
  font-size: 11px !important;
}
.mov-items ul li a {
  padding: 2px 4px;
  background: #333;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.75)
}
/* Classes */
.genreBtn {
  font-size: 12px;
  box-shadow: 0px 0px 2px 0px #cfbe07;
  margin: 0 3px ;
}

.movie-container {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  height: 80vh;
}
a {
  /* margin: 0 10px;
  border: 0 !important; */
}
.movie-poster {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.movie-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.movie-info {
  color: #777;
  margin-bottom: 10px;
}

.movie-synopsis {
  color: #444;
  margin-bottom: 20px;
}

.watch-now-button {
  background-color: #f1356d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.watch-now-button:hover {
  background-color: #ff77a9;
}

/* Movie main section */

.main-section {
  height: 60vh;
  display: flex;
  align-items: center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-blend-mode: darken;
  /* justify-content: center; */
  margin-top: 35px;
}
.main-section .container-section {
  /* width: 1200px; */
  max-width: 900px;
  margin-left: 100px;
}
.main-section button {
  border: 0;
  padding: 5px 10px;
  margin-top: 20px;
  border-radius: 5px;
}
.main-section .ratings {
  /* width: 90px; */
}
.main-section .ratings .rate-count {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  width: 53%;
}
.main-about {
  height: calc(100vh + 300px);
  /* display: flex;
  align-items: center; */
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgb(8, 0, 20), rgb(23, 0, 31));
  /* justify-content: space-between; */
}
.main-about::before {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  bottom: -100px;
  left: -100px;
  background-color: rgba(255, 255, 255, 0.3);  
  z-index: 0;
}
.main-about::after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: -100px;
  right: -100px;
  background-color: rgba(255, 255, 255, 0.3);  
  z-index: 0;
}
.main-about .mov-poster {
  height: 75vh;
  width: 300px;
  border-radius: 5px;
  background-color: #333;
  background-size: cover;
  background-position: center;
  box-shadow: 1px 0px 3px 2px rgb(0 0 0); 

}
/* Tabs */
.tabs {
  transform: translateX(50%);
}
.tabs button {
  border: 0;
}
.tabs button.tab-active {
  border-bottom:  2px solid white;
}