body {
  background-color: #111 !important;
  /* color: white !important; */
}
img#profileImg  {
  background-size: contain;
  border: 5px solid #333;
}
#castInfo, p {
  opacity: 0.67 !important;
  color: white;
}
p.small span {
  opacity: 1 !important;
  color: white !important;
}