@import url('https://fonts.googleapis.com/css2?family=Muli:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap');
body {
  background-color: #111 !important;
  font-family: 'Muli', sans-serif !important;
}
a {
  cursor: pointer;
}
img#profileImg {
  background-size: contain;
  border: 5px solid #333;
}
.bg-222 {
  background-color: #222;
}
#castInfo,
p {
  opacity: 0.67 !important;
  color: white;
}
p.small span {
  opacity: 1 !important;
  color: white !important;
}
.credit {
  border: 1px solid #111;
  background: #222;
  border-radius: 10px;
  margin: 10px 0;
  padding: 20px;
  position: relative;
  overflow: hidden;
  display: block;
  transition: 0.3s ease;
  color: white;
  font-weight: 400;
  z-index: -1;
}
.credit.credit-active {
  border: 2px solid gray;
  background-color: #222;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4), 0 3px 6px rgba(0, 0, 0, 0.4);
}
.credit.credit-active::before,
.credit.credit-active::after {
  content: '֎';
  font-size: 100px;
  position: absolute;
  z-index: 0;
}
.credit .fa-xmark {
  display: none;
}
.credit .fa-chevron-down {
  display: block;
}
.credit::before {
  color: rgba(255, 0, 0, 0.3);
  left: -10px;
  top: -40px;
}
.credit::after {
  color: rgba(0, 0, 255, 0.3);
  left: 30px;
  top: -20px;
}
.credit .overview,
.credit.credit-active .fa-chevron-down {
  display: none;
}
.credit.credit-active .overview,
.credit.credit-active .fa-xmark {
  display: block;
}
