@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	#tabs-header {
		@apply flex items-center justify-center gap-8 py-6 *:uppercase;
	}
	#mov-details {
		@apply p-4 grid grid-cols-[auto,auto] place-items-center m-auto gap-8 max-w-[75rem];
	}
	#mov-poster-detail {
		@apply hidden md:block w-[19.75rem] aspect-[10/16] border-4 border-gray-100/10 object-cover h-full;
	}

	#cast {
		@apply	block flex-1 pb-2 w-36 sm:w-44 md:w-[12.5rem]
	}
	#cast-list {
		@apply flex w-max gap-2 p-2 px-10 md:px-10;
	}

	.media-list #similar {
		@apply block flex-1 pb-2 w-36 sm:w-44 md:w-[12.5rem];
	}
	.media-list #similar-movies-list {
		@apply flex w-max gap-2 p-2 px-10 md:px-10;
	}
}