@tailwind base;
@tailwind components;
@tailwind utilities;

@layer reset {
  [h-100vh] {
    height: 100vh;
  }
}

@layer base {
  #hero-info {
    background-image: linear-gradient(
      to top,
      rgb(0 0 0 / 1) 0%,
      rgb(0 0 0 / 1) 50%,
      transparent 100%
    );
  }

  @media (min-width: 1024px) {
    #hero-info {
      background-image: linear-gradient(
        to right,
        rgb(0 0 0 / 1) 0%,
        rgb(0 0 0 / 1) 50%,
        transparent 100%
      );
    }
  }
}
