@import url("@/assets/index.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  color: #fff;
  background: #111;
  color-scheme: dark;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}